*{
    margin-top: 8px;
}
#header
{
    text-align: center;
    font-family: cursive;
    font-style: italic bold;
    text-decoration: underline;
    color: rgb(67, 13, 121);
}
.container{
    margin:auto;
}
.btn
{
    background-color:green;
    color: white;
}
#inputs
{
    margin: auto;
    width: 700px;
}
#addbtn
{
    margin-left:46%; 
}

.list-group-item
{
    margin: auto;
    width:500px;
}
